.btn {
  background-color: #fcee21;
  padding: 21px 49px;
  color: #5b2386;
  border-radius: 56px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 147px;
}

/* .pointer {
  position: absolute;
  top: 1099px;
  left: 1264px;
} */
